<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PSS_ITWORKS.Properties.Settings.PSSConnectionString"
            connectionString="Data Source=DESKTOP-TBBSO02\SQLEXPRESS;Initial Catalog=PSS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>